<h1>Home</h1>
<p>You're logged in with Angular 7 & JWT!!</p>
<p>Your role is: <strong>{{currentUser.role}}</strong>.</p>
<p>This page can be accessed by all authenticated users.</p>
<div>
    <div class="container">
        <table width="100%">
            <tr>
                <th><a [routerLink]="['/userdata', {'id':1,'name':'rupnesh'}]" class="btn btn-success btn-lg">Show Details</a></th>
                <th>abc</th>
                <th>pqr</th>
                <th>xyz</th>
            </tr>
        </table>
    </div>

    <button (click)="logout()">Logout</button>
</div>